@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

    body {
        @apply text-gray-900 font-primary text-[17px] leading-8;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply text-primary leading-[120%];
    }

    .h1 {
        @apply text-[36px] xl:text-[60px] font-semibold;
    }

    .h2 {
        @apply text-[30px] xl:text-[41px] font-normal capitalize tracking-[0.44px];
    }

    .h3 {
        @apply text-[20px] xl:text-[22px] font-semibold;
    }

    .h4 {
        @apply text-[20px] xl:text-[20px] font-semibold capitalize;
    }

    .btn {
        @apply rounded-full uppercase tracking-[1.02px] flex items-center justify-center transition-all;
    }

    .btn-sm {
        @apply h-14 px-10;
    }

    .btn-lg {
        @apply h-16 px-[20px];
    }

    .btn-accent {
        @apply bg-accent text-white hover:bg-accent-secondary;
    }

    .section {
        @apply py-6 xl:py-[10px] px-1;
    }

}

/* My body */
body {
    scroll-behavior: smooth !important;
}

/* Pour toggle le menu de nav version phone */
.mnav.toggle-nav-phone {
    left: 0px !important;
}

/* Bg gradient customisé */
.bg-custom {
    background-image: linear-gradient(0deg, #8a9ae8, #3b457e) !important;
    transition: background 2.7s !important;
    -webkit-transition: background 2.7s !important;
    -moz-transition: background 2.7s !important;
    -ms-transition: background 2.7s !important;
    -o-transition: background 2.7s !important;
}

.bg-custom:hover {
    background-image: linear-gradient(0deg, #3b457e, #7884cb) !important;
}

/* Scroll bar customisé */
.has-scrollbar {
    padding-bottom: 10px;
}

.has-scrollbar::-webkit-scrollbar {
    width: 12px;
    height: 14px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
    background: #dee3ff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    cursor: grab;
}

.has-scrollbar:hover::-webkit-scrollbar-thumb {
    background: #a5b4fc;
}

.has-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #8292dd;
}

/* 925DEV */